.clase1 {
    font-size: 18px;
}

app-editar-calificacion {
    width: 49%;
}

app-editar-calificacion.mostrar {
    display: block;
}

.contenedor {
    display: flex;
}

.contenedor-lista {
    width: 49%;
}