<form (submit)="login()" #formLogin="ngForm">
    <div>
        <label for="username">Username: </label>
        <input required type="text" name="username" id="username" placeholder="username" [(ngModel)]="sign.username">
    </div>
    <div>
        <label for="password">Password: </label>
        <input required type="password" name="password" id="password" placeholder="password" [(ngModel)]="sign.password">
    </div>
    <div>
        <button [disabled]="!formLogin.form.valid" type="submit">Iniciar sesión</button>
        <div>¿No estas registrado? <a href="">crear cuenta</a></div>
    </div>
    <div *ngIf="error" style="color: #e73131;">
        Error: {{errorMsg}}
    </div>
</form>